.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 12px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.container-fluid {
  width: 100%;
  margin-inline: auto;
  padding-inline: 12px;
}

.container-sm {
  @extend .container;

  @media (min-width: 576px) {
    max-width: 540px;
  }
}

.container-md {
  @extend .container;

  @media (min-width: 768px) {
    max-width: 720px;
  }
}

.container-lg {
  @extend .container;

  @media (min-width: 992px) {
    max-width: 960px;
  }
}

.container-xl {
  @extend .container;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.container-xxl {
  @extend .container;

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}
