@use "../abstracts/variables" as *;

@each $key, $value in $spacing {
  // ========================================
  // Margin
  // ========================================

  .m-#{$key} {
    margin: $value;
  }

  .mt-#{$key} {
    margin-top: $value;
  }

  .mb-#{$key} {
    margin-bottom: $value;
  }

  .ms-#{$key} {
    margin-left: $value;
  }

  .me-#{$key} {
    margin-right: $value;
  }

  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  // ========================================
  // Padding
  // ========================================

  .p-#{$key} {
    padding: $value;
  }

  .pt-#{$key} {
    padding-top: $value;
  }

  .pb-#{$key} {
    padding-bottom: $value;
  }

  .ps-#{$key} {
    padding-left: $value;
  }

  .pe-#{$key} {
    padding-right: $value;
  }

  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

.mx-auto {
  margin-inline: auto;
}

.ms-auto {
  margin-inline-start: auto;
}

.me-auto {
  margin-inline-end: auto;
}
